* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #E9E9E9;
}

.toUp {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background-color: #E76161;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
}

.toUp img {
    width: 50%;
}

.nav {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    width: 80%;
    height: 80px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li {
    list-style: none;
    margin-right: 30px;
}

.nav li a {
    text-decoration: none;
    color: #303030;
}

.nav .active {
    font-weight: 600;
}

.nav button {
    border: 0;
    padding: 10px 20px;
    background-color: #E76161;
    border-radius: 10px;
    color: #E9E9E9;
}

.banner {
    background-color: #E9E9E9;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

.banner .content {
    margin-left: 100px;
    padding-bottom: 0;
    z-index: 100;
    color: #303030;
}

.banner h3 {
    width: 50%;
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 15px;
    width: 40%;
}

.banner::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border-radius: 20px;
    background: url('../img/thibaut-nagorny-rsy7rE4_Fx8-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 97%;
    height: 95vh;
}

.card-banner {
    position: absolute;
    bottom: 110px;
    margin-left: 100px;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    z-index: 100;
    width: 60%;
    min-height: 80px;
    background-color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    padding: 20px 30px;
}

.card-banner h2 {
    color: #303030;
    font-size: 25px;
}

.card-banner h4 {
    color: #303030;
    font-size: 15px;
    font-weight: 600;
}

.card-banner select {
    width: 220px;
    border: 0;
    padding: 10px 20px;
    background-color: #E9E9E9;
    margin-top: 5px;
}

.card-banner button {
    border: 0;
    padding: 10px 20px;
    background-color: #E76161;
    border-radius: 10px;
    color: #E9E9E9;
}

.card-banner ul {
    margin-top: 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.card-banner li {
    list-style: none;
}

/* sliders */

.slider {
    min-height: 80vh;
    width: 100%;
    /* padding-left: 40px; */
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider .title-slider {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-slider button {
    border: 0;
    padding: 10px 20px;
    background-color: #E76161;
    border-radius: 10px;
    color: #E9E9E9;
}

.slider h4 {
    font-size: 30px;
}

.swiper-container {
    /* background-color: #303030; */
    width: 85%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 150px;
    height: 350px;
    /* background-color: #303030; */
    /* padding: 10px; */
}

.swiper-slide .address {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}

.swiper-slide .name-building {
    font-size: 30px;
}

.swiper-slide .price {
    font-size: 18px;
    font-weight: 600;
}

.property {
    margin-top: 10px;
    margin-bottom: 10px;
}

.property span {
    border: 1px solid #303030;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.image-slider {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 220px;
}

.slider .paginated {
    margin-top: 20px;
}

.slider .paginated span {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #E76161;
}

.about {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: #303030; */
}

.about .content-about {
    width: 40%;
    margin-left: 100px;
}

.about .title {
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about .title b {
    color: #E76161;
}

.about .image-about.one {
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: #ffffff;
    width: 30%;
    height: 70vh;
    object-fit: cover;
}

.about .image-about.two {
    z-index: 10;
    position: absolute;
    right: 150px;
    padding: 10px;
    background-color: #ffffff;
    width: 25%;
    height: 62vh;
    object-fit: cover;
}

.about .image-about.three {
    z-index: 11;
    position: absolute;
    right: 300px;
    padding: 10px;
    background-color: #ffffff;
    width: 20%;
    height: 50vh;
    object-fit: cover;
}

.content-hide {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 10;
    /* display: none; */
    margin-left: 100px;
    padding-bottom: 0;
    z-index: 1;
    color: #303030;
}

.content-hide h3 {
    width: 50%;
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 20px;
}

.content-hide b {
    color: #E76161;
}

.content-hide p {
    font-size: 20px;
    width: 40%;
}

.blog {
    /* margin-top: -150px; */
    background-color: #E9E9E9;
    /* background-color: #303030; */
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog .title-blog {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog .content {
    margin-top: 30px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 400px;
    /* background-color: pink; */
}

.blog .detail {
    width: 55%;
}

.blog .column {
    width: 40%;
}

.blog button {
    border: 0;
    padding: 10px 20px;
    background-color: #E76161;
    border-radius: 10px;
    color: #E9E9E9;
}

.blog h4 {
    font-size: 30px;
}

.blog .detail .card {
    /* min-height: 80vh; */
    /* height: 100%; */
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.blog .from {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.blog .name {
    margin-bottom: 10px;
}

.blog .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}

.blog .info {
    position: absolute;
    right: 30px;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #E9E9E9;
    padding: 30px 20px;
    color: #303030;
}

.blog button {
    margin-top: 10px;
}

.column .card {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* justify-content: center; */
}

.column .image-slider {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.column .text {
    width: 50%;
}

.support {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-container {
    /* background-color: #303030; */
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.support .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* background-color: #E76161; */
}

.support .swiper-slide img {
    width: 150px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* background-color: #303030; */
    /* padding: 10px; */
}

.support .swiper-slide img:hover {
    filter: none;
}

.cinematic {
    background: linear-gradient(#91b6c7, #80AABE);
    /* background-color: #80AABE; */
    position: relative;
    /* margin-top: -150px; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cinematic .text {
    display: flex;
    flex-direction: column;
    color: #303030;
    width: 80%;
}

.title-cinematic {
    margin-top: 30px;
    font-size: 130px;
    line-height: 110px;
    font-weight: 700;
}

.dua {
    color: #91b6c7;
}

.awan {
    opacity: 0.8;
    width: 40%;
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.awan2 {
    /* opacity: 0.8; */
    width: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.plane {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .slider .title-slider {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-slider button {
    border: 0;
    padding: 10px 20px;
    background-color: #E76161;
    border-radius: 10px;
    color: #E9E9E9;
}

.slider h4 {
    font-size: 30px;
} */